html, body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient( #e2d9c5, #a6a091)
}

.intro  {
      font-family: 'Times New Roman';
      font-style: Bold;
      font-size: 50px;
      color: #DAF1DE;
      border: 2px solid black;
      background: #0B2B26;
      text-shadow: 5px 5px 1px #80a58c,
                   3px 3px 2px #0B2B26;
      padding: 30px;
      width: 900px;
      text-align: Left;
    }

.center {
      left: 50%;
      transform: translate(-50%, -50%);
        }

.centerimage {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;  
}

#container {
  clear: left; /* so as not to follow floated element */
  width: 55%;
  height: 175px;
  margin: 50 auto 50;
  overflow: hidden;
}

.linkboxes_p{
  background-color: #0B2B26;
  width: 200px;
  height: 75px;
  text-align: center;
  padding-top:15px;
  border: 2px outset lightgray;
  color: white;
  margin-left: 25;
  float: left;
}

#container_description {
  clear: left; /* so as not to follow floated element */
  width: 80%;
  height: 200px;
  overflow: hidden;
  margin: 50 auto;
}

#homepagedescription {
    padding: 10px; 
    border: 2px solid #0B2B26;
  float left
}

.textstyles {
  font-size: 20px;
  font: "Times New Roman";
}

#about_us {
    height: 175px;
    width: 50%;
    text-align: left;
    margin: 0 auto;
    font-family: 'Times New Roman';
    font-style: Bold;
    font-size: 50px;
    color: #DAF1DE;
    text-shadow:3px 3px 
}

.left {
      left: 100%;
      transform: translate(-20%, -20%);
        }

#creator1 {  
    clear: left;
    background: #a6a091;
    border: 2px outset #8b8679;
    height: 170px;
    width: 55%;
    text-align: left;
    margin: 0 auto;   
    overflow: hidden;
    padding: 20px;
} 

#creator1_image {
    display: block;  
    height: 150px;
    width: 150px;
    float: left;
    margin: 15px;
    padding-bottom: 100px;
}

#creator1_text {
  font-size: 20px;
  font: Times New Roman;
  padding: 20px;
} 

.right {
      right: 100%;
      transform: translate(20%, 20%);
        }

#creator2 {  
    clear: left;
    background: #a6a091;
    border: 2px outset #8b8679;
    height: 175px;
    width: 55%;
    text-align: left;
    margin: 0 auto;   
    overflow: hidden;
    padding: 20px;  
} 

#creator2_image {
    display: block;  
    height: 150 px;
    width: 150px;
    float: right;
    margin: 15px;
}

#creator2_text {
  font-size: 20px;
  font: Times New Roman;
  text-align-last: left;
} 

<--- For Subpage1.html --->

 h1 {
      font-family: 'Times New Roman';
      font-style: Italic;
      color: white;
      font-size: 50px;
      background-color: #0B2B26;
      border: 2px dashed white;
      padding: 30px;
      width: 700px;
      text-align: left;
      transform: translate(20%, 10%);
    }

    h3 {
      font-family: 'Times New Roman';
      text-align: center;
      transform: translate(10%, 10%);
    }
  
    .individualParagraph {
      font-family: 'Times New Roman';
      float: left;
      width: 600px;
      height: 700px;
      border: 2px dashed white;
      box-sizing: border-box;
      padding: 30px;
      margin: 10px;
      background-color: #0B2B26;
      text-align: center;
      color: white;
      transform: translate(23%, 0%);
    }

    .comparison {
      font-family: 'Times New Roman';
      float: left;
      width: 900px;
      border: 2px dotted white;
      padding: 30px;
      margin: 10px;
      background-color: #0B2B26;
      text-align: center;
      color: white;
      transform: translate(25%, 0%);
    }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  float: right;
  border: 3px solid black;
  position: fixed;
  overflow: auto;
  z-index: 1;
}

li a {
  display: block;
  color: black;
  padding: 16px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #0B2B26;
  color: #a3ea39;
}

.active{
  background-color: #04AA6D;
  color: white;
}

<--- For Subpage2.html --->

h1 {
      font-family: 'Times New Roman';
      font-style: Italic;
      color: white;
      font-size: 50px;
      background-color: #0B2B26;
      border: 2px dashed white;
      padding: 30px;
      width: 700px;
      text-align: left;
  transform: translate(20%, 10%);
    }

h3 {
      font-family: 'Times New Roman';
      text-align: left;
  transform: translate(15%, 10%);
    }

.firstname{
  font-family: 'Times New Roman';
      background-color: #587470;
      width: 400px;
      height: 40px;
      border: 2px dashed white;
      text-align: center;
      color: white;
  transform: translate(45%, 90%);
}

.experience1 {
      font-family: 'Times New Roman';
      background-color: #0B2B26;
      width: 1090px;
      height: 250px;
      border: 2px dashed white;
      right: 100%;
      color: white;
      float: right;
      top: 30px;
      padding: 5px 5px;
    }

.secondname{
  font-family: 'Times New Roman';
      background-color: #587470;
      width: 400px;
      height: 40px;
      border: 2px dashed white;
      text-align: center;
      color: white;
  transform: translate(167%, 90%);
}

.experience2 {
      font-family: 'Times New Roman';
      background-color: #0B2B26;
      width: 1090px;
      height: 260px;
      border: 2px dashed white;
      text-align: left;
      color: white;
      padding: 5px 5px;
    }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  float: right;
  border: 3px solid black;
  position: fixed;
  overflow: auto;
}

li a {
  display: block;
  color: black;
  padding: 16px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #0B2B26;
  color: #a3ea39;
}

.active{
  background-color: #04AA6D;
  color: white;
}






