html, body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient( #e2d9c5, #a6a091)
}

.intro  {
      font-family: 'Times New Roman';
      font-style: Bold;
      font-size: 50px;
      color: #DAF1DE;
      border: 2px solid black;
      background: #0B2B26;
      text-shadow: 5px 5px 1px #80a58c,
                   3px 3px 2px #0B2B26;
      padding: 30px;
      width: 900px;
      text-align: Left;
    }

.center {
      left: 50%;
      transform: translate(-50%, -50%);
        }

.centerimage {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;  
}

#linkboxes  {  
    height: 250px;
    width: 100%;
    text-align: center;
    margin: 0 auto;    
} 

.linkboxes_p {
  background: #0B2B26;
  height: 75px;
  width: 200px;
  text-align:center;
  display: inline-block;
  color: white;
  margin: 0 auto;
  padding: 25px, 25px;
  
}

#homepagedescription {
    padding: 10px; 
    border: 2px solid #0B2B26
}

.textstyles {
  font-size: 20px;
  font: Times New Roman;
  margin: auto;
}

#about_us {
    height: 175px;
    width: 50%;
    text-align: left;
    margin: 0 auto;
    font-family: 'Times New Roman';
    font-style: Bold;
    font-size: 50px;
    color: #DAF1DE;
    text-shadow:3px 3px 
}

.left {
      left: 100%;
      transform: translate(-20%, -20%);
        }

#creator1 {  
    background: #a6a091;
    border: 2px solid #8b8679;
    height: 175px;
    width: 55%;
    text-align: left;
    margin: 0 auto;    
} 

#creator1_image img{
    display: block;  
    height: 150px;
    width: 150px;
    margin: 10px;
    float: left;
}

#creator1_text {
  font-size: 20px;
  font: Times New Roman;
  text-align-last: right;
  text-align:justify;
} 

.right {
      right: 100%;
      transform: translate(20%, 20%);
        }

#creator2 {  
    background: #a6a091;
    border: 2px solid #8b8679;
    height: 175px;
    width: 55%;
    text-align: justify;
    margin: 0 auto;    
} 

#creator2_image img{
    display: block;  
    height: 150px;
    width: 150px;
    margin: 10px;
    float: right;
}

#creator2_text {
  font-size: 20px;
  font: Times New Roman;
  text-align-last: left;
  text-align:center;
} 




